python-dotenv
llama-index
llama-index-core
llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
llama-index-storage-docstore-redis
llama-index-vector-stores-redis
llama-index-embeddings-huggingface
colorlog
PyYAML
pydantic
redisvl