slack-sdk
python-dotenv
sqlalchemy
blake3
schedule
tqdm
llama-index-core
openai
llama-index-vector-stores-redis
llama-index-storage-docstore-redis
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai
llama-index-postprocessor-flag-embedding-reranker
redis
colorlog
slack-bolt
